<footer>
    <!-- Footer Area -->
    <div class="container mx-auto flex-col-reverse justify-between py-10 space-y-8 md:flex-row md:space-y-0">
        <!-- logo and social media links -->
        <div class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:item-start">
        <!-- Logo -->
            <a href="#" class="">
                <div class="flex items-center text-airbBlanco text-lg">
                    <div class="text-airbBlanco mr-2">
                        Tech University
                    </div>
                </div>
            </a>
        <!-- social media links -->
        </div>
    </div>    
</footer>